.BadgeNew__hero {
  width: 100%;
  padding: 2rem 0;
  background: url('../../images/stars.svg'), #1B1B25;
  background-repeat: repeat;
  margin-bottom: 1rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
} 

.BadgeNew__badge-container {
	margin-bottom: 2rem;
}

.BadgeNew__badge-info {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-gap: 2rem;
}

@media screen and (max-width: 780px) {
	.BadgeNew__badge-info {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, auto);
	}

	.BadgeNew__badge {
		grid-row: 0/1;
		grid-column: 0/1;
	}
}

@media screen and (max-width: 780px) {
	.BadgeNew__badge-info {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, auto);

	}

	.BadgeNew__badge {
		grid-row: 0/1;
		grid-column: 0/1;
	}

	.BadgeNew__hero img {
		width: 150px;
	}
}